* {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* .container {
    display: flex;
} */

.sidebar {
    background-color: #13bf00;
}

.box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header{
    background-color: #e21212;
    height: 80px;
}

.content {
    background-color: #061dee;
}

.sidebar,
.header,
.content {
    justify-content: center;
    display: flex;
    align-items: center;
} 

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}