html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 50%;
    background-color: #21d8e8;
}

.signup {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    display: block;
    margin: 0 2rem;
    text-align: center;
    padding: 1rem;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 8px;
}

.signup button {
    padding: 8px 24px;
    border-radius: 16px;
    background-color: transparent;
    color: #ffffff;
}

.signup button:hover {
    cursor: pointer;
    background-color: grey;
    color: #ffffff;
}

.box {
    flex-direction: column;
    width: 50%;
    padding: 0 2rem;
    text-align: center;
}

.box h1, h3,
.register h1 {
    color: #21d8e8
}

.sidebar,
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} 

.social-media {
    width: 50%;
    padding: 1rem;
}

.social-media ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#username,
#password,
#username-register,
#password-register {
    padding: 16px;
    border-radius: 4px;
}

#password,
#password-register {
    margin: 1rem;
}

.signin {
    border-radius: 16px;
    padding: 8px 32px;
    background-color: #21d8e8;
    color: #ffffff;
}

.signin:hover {
    cursor: pointer;
    background-color: grey;
    color: #ffffff;
}

.container-register {
    display: flex;
    height: 100%;
    justify-content: center;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar,
    .box {
        width: auto;
        height: auto;
    }

    .signin,
    .box {
        margin: 1rem;
    }

    .sidebar {
        order: 2;
    }

    .box {
        order: 1;
    }

    .social-media {
        width: 100%;
    }

    .signup {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}